@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Order
<head>
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<form method="post" action="Buy">
    <input type="hidden" name="stock.stock_id" value="@Model.stock.stock_id" />
    <div class="container-main">
        <div class="card">
            <div class="homeButton">
                <a asp-action="Index" asp-controller="Stock">Home</a>
            </div>
            <table>
                <tr>

                    <td>
                        Stock Name
                    </td>
                    <td>
                        <input type="text" name="stock.stock_name" value="@Model.stock.stock_name" readonly />
                    </td>
                </tr>
                <tr>
                    <td>
                        Stock Price
                    </td>
                    <td>
                        <input type="text" name="stock.stock_price" value="@Model.stock.stock_price" readonly />
                    </td>
                </tr>
                <tr>
                    <td>
                        Stock Quantity
                    </td>
                    <td>
                        <input type="number" name="stock.stock_quantity" value="@Model.stock.stock_quantity" readonly />
                    </td>
                </tr>

                <tr>
                    <td>
                        Enter Quantity you want to buy:
                    </td>
                    <td>
                        <input type="number" name="quantity" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Place Order" />
                    </td>
                </tr>


            </table>
        </div>
    </div>

</form>
