@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Customer
    <header>
        <link rel="stylesheet" href="~/css/login.css" />
    </header>
<form action="Register" method="post">
    <div class="container-main">
        
        <div class="card">
            <div class="homeButton">
                <a asp-action="Index" asp-controller="Stock">Home</a>
            </div>
            <table>
                <tr>
                    <td>
                        Email Address
                    </td>
                    <td>
                        <input type="email" name="customer_email" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Full Name
                    </td>
                    <td>
                        <input type="text" name="customer_name" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Mobile Number
                    </td>
                    <td>
                        <input type="text" name="contact_number" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Password
                    </td>
                    <td>
                        <input type="password" name="password" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="REGISTER" />
                </tr>
            </table>
        </div>
    </div>
   
</form>